* {
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-size: 100%;
}

header {
    font-size: 100px;
    text-align: center;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 40px 140px 0 140px;
    font-size: 25px;
}

h2 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 0px;
    font-size: 60px;
    color: transparent;
}

.result-win {
    color: green;
    transition: color 2500ms linear;
}

.result-lose {
    color: darkred;
    transition: color 2500ms linear;
}

#player-guesses {
    display: flex;
    justify-content: stretch;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 50px;
    width: 770px;
    height: 780px;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 700%;
}

.first-guess, .second-guess, .third-guess, .fourth-guess, .fifth-guess, .sixth-guess {
    display: flex;
    border: 2px solid black;
    border-radius: 12px;
    width: 144px;
    height: 144px;
    margin: 5px 5px;
    position: relative;
    top: 100px;
    padding-top: 24px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#keyboard {
    display: flex;
    justify-content: stretch;
    position: relative;
    top: 16em;
    min-height: 100%;
    margin-left: 22.5%;
    margin-right: 22.5%;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 7%;
}

.first-row, .second-row, .third-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 2.2em;
}

.amber {
    color: #83590c;
    transition: color 500ms linear, background-color 500ms linear;
    background-color: #F9D99F;
}

.green {
    color: rgb(6, 100, 6);
    transition: color 500ms linear, background-color 500ms linear;
    background-color: rgba(93, 223, 67, 0.445);
}

.grey {
    color: #2c2c2c;
    transition: color 500ms linear, background-color 500ms linear;
    background-color: rgba(167, 167, 167, 0.548);
}

button {
    padding: 17px;
}

#highlight {
    color: rgb(24, 168, 60)
}

.accessibility-amber {
    font-weight: 900;
}

.accessibility-green {
    text-decoration: underline;
    font-weight: 900;
}

#accessibility {
    font-size: 30px;
    height: 8%;
    width: 20%;
    margin-top: 10%;
}

.accessibility {
    display: flex;
    justify-content: center;
}